:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --accent-color: #00ff00;
    --secondary-color: #1a1a1a;
    --button-color: #00ff00;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 10px rgba(0, 255, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .home-button {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .home-button:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
  
  h1, h2 {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 10px;
  }
  
  .profile-info, .my-posts, .my-comments {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #333;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #00cc00;
  }
  
  button {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 6px 12px;
    margin: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: var(--accent-color)
  }  